* {
	font-family : Verdana;
	font-size: 14px;
}

input,select,label {
    margin:10px;
}

#add {
	float : right; 
	position : absolute;
	right:5px;
	bottom : 5px;
}

#addFormContainer {
	position : relative;
}

#staticColumns, 
#addFormContainer, 
#storedTestCases {
	margin : 10px;
}

form {
	border: 1px solid #000000;
}

#storedTestCases {
	overflow : auto;
}

.invalidInput {
	border: 1px solid #ff0000;
	background-color: rgba(255,0,0,0.2);
	opacity: 0.2;
}

.wrap,.cell,.colName{
	display : inline-block;
	padding : 2px 5px;	
	vertical-align: middle;
	overflow: hidden;
}

.cell,.colName {
	margin:10px;
	max-height : 32px;
}

label {
	font-weight : bold;
}

input,select,textarea {
	margin: 5px;
	vertical-align: middle;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.edit ,.clone ,.delete{
	cursor : pointer;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	padding : 2px 7px;	
}

.row {
	width:3000px;
}

.row:nth-child(even) {
	background-color : #e5e5e5;
}

#tblHeader {
	background-color : #000000;
	color: #ffffff;
	width:3000px;
}

.empty {
	width : 102;
	display : inline-block;
}